/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.svg-inline--fa {
  margin-right: 0.25rem !important;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 10px;
}
